<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let article of articles">
    <ion-card-header>
      <ion-card-title>{{ article.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ article.description }}</p>
    </ion-card-content>
    <ion-item>
      <ion-button expand="full" [href]="article.url" target="_blank">Read More</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
